
.heart {
	background-image: url(../img/web_heart_animation.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: 1450px;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	width: 50px;
}
.heart:hover
{
	background-position: right;  
}

@-webkit-keyframes heartTransition
{
	0% {background-position: left;}
	100% {background-position: right;}
}

@keyframes heartTransition
{
	0% {background-position: left;}
	100% {background-position: right;}
}

.heart_animate
{
	-webkit-animation-duration: .8s;
	//-webkit-animation-iteration-count: 1;
	-webkit-animation-name: heartTransition;
	-webkit-animation-timing-function: steps(28);
	animation-duration: .8s;
	//animation-iteration-count: 1;
	animation-name: heartTransition;
	animation-timing-function: steps(28);
	background-position: right;
}